/* line 1, reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, reset.sass */
body {
  line-height: 1;
}

/* line 29, reset.sass */
ol, ul {
  list-style: none;
}

/* line 32, reset.sass */
blockquote, q {
  quotes: none;
}

/* line 35, reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, reset.sass */
input, select, textarea, button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 51, reset.sass */
ins {
  text-decoration: none;
}

/* line 55, reset.sass */
del {
  text-decoration: line-through;
}

/* line 59, reset.sass */
strong {
  font-weight: bold;
}

/* line 63, reset.sass */
em {
  font-style: italic;
}

/* line 1, utilities.sass */
.left {
  float: left;
  position: relative;
  margin: 0 10px 5px 0;
}

/* line 6, utilities.sass */
.right {
  float: right;
  position: relative;
  margin: 0 0 5px 10px;
}

/* line 11, utilities.sass */
.clear {
  clear: both;
}

/* line 14, utilities.sass */
.clear-left {
  clear: left;
}

/* line 17, utilities.sass */
.clear-right {
  clear: right;
}

/* line 20, utilities.sass */
.clear-none {
  clear: none;
}

/* line 23, utilities.sass */
.center {
  text-align: center;
}

/* line 26, utilities.sass */
.autoclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 33, utilities.sass */
.autoclear {
  display: inline-block;
}

/* line 36, utilities.sass */
.autoclear {
  display: block;
}

/* =Base */
/* line 7, style.sass */
html {
  font: 12px/normal "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #555555;
  background: white;
  overflow-y: scroll;
}

/* line 13, style.sass */
body {
  position: relative;
  width: 960px;
  margin: 0 auto;
  line-height: 1.5;
}

/* line 19, style.sass */
#header {
  position: relative;
}

/* line 22, style.sass */
.sub #header {
  position: relative;
}

/* line 25, style.sass */
#content {
  position: relative;
}

/* line 28, style.sass */
.sub #content {
  position: relative;
}

/* line 31, style.sass */
#footer {
  clear: both;
  position: relative;
}

/* line 35, style.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 38, style.sass */
#main h2, #main h3, #main h4, #main h5, #main h6 {
  padding-top: 5px;
}

/* line 41, style.sass */
h1 {
  font-size: 22px;
}

/* line 44, style.sass */
#main h1 {
  color: #55251f;
}

/* line 47, style.sass */
h2 {
  font-size: 18px;
}

/* line 50, style.sass */
#main h2 {
  color: #35551c;
}

/* line 53, style.sass */
h3 {
  font-size: 15px;
}

/* line 56, style.sass */
#main h3 {
  color: #184c99;
}

/* line 59, style.sass */
h4 {
  font-size: 12px;
  font-weight: bold;
}

/* line 63, style.sass */
h5 {
  font-size: 12px;
  font-weight: bold;
}

/* line 67, style.sass */
h6 {
  font-size: 12px;
  font-weight: bold;
}

/* line 71, style.sass */
p {
  padding-bottom: 15px;
}

/* line 74, style.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 79, style.sass */
sup {
  top: -0.5em;
}

/* line 82, style.sass */
sub {
  bottom: -0.25em;
}

/* line 85, style.sass */
.spacer {
  padding-top: 15px;
}

/* line 88, style.sass */
input,
textarea,
select {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: normal;
  font-size: 12px;
  color: #222222;
}

/* line 96, style.sass */
input.inactive {
  color: #a9a9a9;
}

/* line 99, style.sass */
input::-webkit-input-placeholder {
  color: #a9a9a9;
}

/* line 102, style.sass */
input:-moz-placeholder {
  color: #a9a9a9;
}

/* line 105, style.sass */
img,
a img {
  border: 0;
  vertical-align: middle;
}

/* line 110, style.sass */
a {
  color: fuchsia;
}

/* line 113, style.sass */
a:visited {
  color: fuchsia;
}

/* line 116, style.sass */
a:hover {
  color: red;
  text-decoration: none;
}

/* line 120, style.sass */
a.hover-box img,
a.hover-box img.original {
  float: left;
  position: relative;
}

/* line 125, style.sass */
a.hover-box img.hover {
  display: none;
}

/* line 128, style.sass */
a.hover-box {
  position: relative;
  float: left;
  display: block;
}

/* line 133, style.sass */
a.hover-box:hover {
  display: block;
  font-size: 100%;
  z-index: 1;
}

/* line 138, style.sass */
a.hover-box:hover img.hover {
  display: block;
  position: absolute;
  float: left;
  left: 0;
  top: 0;
  z-index: 10;
}

/* =Tables */
/* =Inputs */
/* =Header */
/* line 271, style.sass */
#header strong.logo {
  position: relative;
  float: left;
}
/* line 275, style.sass */
#header strong.logo a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

/* =Search */
/* line 284, style.sass */
#search {
  position: relative;
  float: right;
  background: url("/images/layout/header/search-bg.png") left top no-repeat;
}
/* line 289, style.sass */
#search input {
  vertical-align: middle;
}
/* line 292, style.sass */
#search input#search-text {
  width: 165px;
  margin: 0 3px 0 0;
  padding: 0 5px;
}
/* line 297, style.sass */
#search input#search-text:focus {
  outline: 0;
}

/* =Navigation */
/* line 303, style.sass */
#nav {
  clear: both;
  padding: 0 0 30px 0;
}
/* line 307, style.sass */
#nav ul li {
  position: relative;
  float: left;
  padding: 0 20px 0 0;
}

/* =Main */
/* line 150, style.sass */
#main table {
  width: 100%;
  margin-bottom: 15px;
}
/* line 154, style.sass */
#main table th {
  font-weight: bold;
  text-align: left;
  background: #c3d9ff;
}
/* line 159, style.sass */
#main table th,
#main table td {
  padding: 5px 10px 5px 5px;
  border: 1px solid #999999;
}
/* line 164, style.sass */
#main table td {
  background: white;
}
/* line 167, style.sass */
#main table tbody tr:nth-child(even) td,
#main table tbody tr.even td {
  background: #eeeeee;
}
/* line 171, style.sass */
#main table tfoot {
  font-style: italic;
}
/* line 178, style.sass */
#main input[type=text],
#main input[type=password],
#main input.text,
#main textarea,
#main select {
  border: 1px solid #999999;
  border-right-color: #dddddd;
  border-bottom-color: #dddddd;
  width: 292px;
  padding: 3px;
  background-color: white;
}
/* line 190, style.sass */
#main input.small {
  width: 120px;
}
/* line 193, style.sass */
#main input[type=text]:focus,
#main input[type=password]:focus,
#main input.text:focus,
#main textarea:focus,
#main select:focus {
  border-color: #666666;
}
/* line 200, style.sass */
#main textarea {
  height: 175px;
}
/* line 203, style.sass */
#main span.radcheck {
  display: block;
}
/* line 206, style.sass */
#main span.radcheck input {
  margin: 0 2px 0 0;
}
/* line 209, style.sass */
#main select {
  width: 300px;
  padding: 2px;
}
/* line 213, style.sass */
#main input.submit {
  padding: 5px 10px;
  border: 1px solid #a2adb4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #d9e3e9;
  color: #3e6d95;
}
/* line 222, style.sass */
#main input.submit-button,
#main input[type="image"] {
  float: left;
}
/* line 226, style.sass */
#main fieldset legend {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 18px;
}
/* line 231, style.sass */
#main fieldset.pulled p {
  padding: 0 0 15px 150px;
  position: relative;
  clear: left;
  zoom: 1;
}
/* line 237, style.sass */
#main fieldset.pulled p label {
  line-height: normal;
}
/* line 240, style.sass */
#main fieldset.pulled p label.inner {
  display: inline-block;
  position: relative;
  padding: 4px 0;
}
/* line 245, style.sass */
#main fieldset.pulled p label.outer {
  float: left;
  text-align: right;
  width: 140px;
  padding: 4px 0;
  margin-left: -150px;
}
/* line 252, style.sass */
#main fieldset.pulled p label sup {
  color: red;
}
/* line 255, style.sass */
#main fieldset.pulled p em.info {
  padding-left: 10px;
}
/* line 258, style.sass */
#main fieldset.pulled span.error {
  position: absolute;
  left: 460px;
  top: 0;
  display: block;
  color: red;
  padding: 4px 0;
  line-height: normal;
}
/* line 319, style.sass */
#main blockquote {
  padding: 0 20px 0 30px;
  font-style: italic;
  color: #666666;
}
/* line 324, style.sass */
#main ul {
  padding: 0 0 10px 15px;
}
/* line 327, style.sass */
#main ul li {
  padding: 0 0 5px 15px;
  background: url("/images/icons/bullet.png") left 5px no-repeat;
}
/* line 331, style.sass */
#main ul ul {
  padding-bottom: 0;
  padding-top: 5px;
}
/* line 335, style.sass */
#main ul ul li {
  background-image: url("/images/icons/bullet-inner.png");
}
/* line 338, style.sass */
#main ol {
  padding: 0 0 10px 30px;
}
/* line 341, style.sass */
#main ol li {
  padding: 0 0 5px 0;
  list-style: decimal;
}
/* line 345, style.sass */
#main ol ol {
  padding-bottom: 0;
  padding-top: 5px;
}
/* line 349, style.sass */
#main ol ol li {
  list-style-type: lower-latin;
}
/* line 352, style.sass */
#main pre,
#main code {
  font-family: "Andale Mono", "Lucida Console", monospace;
}
/* line 356, style.sass */
#main pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 15px;
}

/* =IE Fixes */
/* line 365, style.sass */
.ie #main fieldset.pulled p {
  zoom: 1;
}
